@media only screen and (max-width: 767px) {

	h1 {
		font-size: 150%;
    }

	.square {
		width: 18%;
		margin-right: 5%;
		height: 60px;
    }

	img.flagImg {
		height: 60px;
		width: 100px;
	}

	button {
		font-size: 80%;
	}

	.message {
		font-size: 80%;
	}

	.track {
		font-size: 80%;
	}

	#footer {
		font-size: 80%;
	}
}